.missions {
  padding: 15px;
}

thead {
  text-align: left;
}

table,
th,
td {
  border: 1.5px solid #e4e4e4;
  border-collapse: collapse;
  padding: 20px 15px 15px 10px;
}

tr:nth-child(even) {
  background-color: #f8f2f2;
  color: black;
  font-weight: 600;
}

.leavemission-btn {
  color: red;
  width: 100px;
  height: 40px;
  font-size: 14px;
}

.joinmission-btn {
  width: 100px;
  height: 40px;
  font-size: 14px;
}

