* {
  margin: 0;
  padding: 0;
}

body {
  padding-left: 40px;
  padding-right: 40px;
}

html {
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

:root {
  --black: #212121;
  --grey: #dadada;
  --purple: #4d17ff;
}
